<ion-view view-title="About Nicky3">
  <ion-content>
	  <img src="images/about.png" style="width:100%">
	  <div style="padding: 10px 20px 20px ">
	  <b>Nicky3</b> is an app that has been designed to tackle the needs of today’s conferences and events. 
	  <BR><BR>Nicky3 was created by <b>Nariel LLC</b>, a web development company which is experienced in working trade show trade shows for more years than they want to count. Nicky3 is now part of the team.
	  
	  Fully customizable to have as much or as little as is required. <br><BR> <b>Nicky3 can provide the basics:</b><br>
		<div style="text-indent: 2em;">• Registration<br></div>
		<div style="text-indent: 2em;">• Directories<br></div>
		<div style="text-indent: 2em;">• Schedules<br></div>
		<div style="text-indent: 2em;">• Maps<br></div>
		<div style="text-indent: 2em;">• Event Information<br></div>
		
		<br><b>But she can also do much more than that:</b><br>
		<div style="text-indent: 2em;">• User Interaction at Live Meetings<br></div>
		<div style="text-indent: 2em;">• Social Media Connections<br></div>
		<div style="text-indent: 2em;">• Gamification<br></div>
		<div style="text-indent: 2em;">• New Product Showcases<br></div>
		<div style="text-indent: 2em;">• Quizzes, Surveys, and Polls<br></div>
		<div style="text-indent: 2em;">• Learning Modules<br></div>
		<div style="text-indent: 2em;">• Photo Galleries & Videos<br></div>
		
		<br>Nicky3 has no ego. If you need her to do more, no problem. She is flexible and willing to change, adapt, and grow just for you. If you would like to learn more on how to get your hands on your own customized app.<br><br> 
		<div style="text-align: center; font-size: 18px"><b>Contact us at Nicky3@nariel.com</b>
		<img src="images/nariel.png" style="width: 100px; margin-top: 20px">
		</div>
	  </div>
  </ion-content>
</ion-view>
