<!--<div class="modal" ng-controller="ProfileCtrl">-->
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Check-In</h1>
    <div class="buttons">
    </div>
    <button class="button button-icon ion-ios-arrow-back button-clear" style="font-size: 16px; color: #444" ng-click="closeCheckIn()"> Close</button> 
  </ion-header-bar>
  <ion-content style="padding:10px 20px">

	<div id="qrcodeTable" style="text-align: center "></div>
	<div style="text-align: center; margin-top: 10px;">
		Name: {{loginCred[0].FirstName}} {{loginCred[0].LastName}}<br>
		BadgeID: {{loginCred[0].BadgeID}}
	</div>

	<div style="text-align:center; margin-top: 25px; font-size: 30px;  line-height:1">
	<p>This is your own personal QR Code</p>
	</div>


  </ion-content>
</ion-modal-view>
<!--</div>-->
