
<ion-view title="Detail List">
	<ion-content>
		<div style="margin:0px auto; width:100%; text-align:center;"><img src="{{details.Logo}}" style="padding:10px 25px; max-height:10%; max-width:100%; "></div>
        <div style="padding:0px 20px">
           <h3 style="margin:0px; padding:0px;">{{details.Location}}</h3>
           <p>{{details.Description}}</p>
           <a ng-show="unfilled" ng-click="saveFavoriteCompany('')"><i class="icon ion-ios-star-outline" style="font-size:42px;"></i></a>
           <a ng-show="filled" ng-click="deleteFavorite('')"><i class="icon ion-ios-star" style="font-size:42px;"></i></a>

        </div>
            
	</ion-content>
</ion-view>