
<ion-view title="Detail List">
  <ion-nav-buttons side="right">
    <a ng-show="unfilled" ng-click="saveFavoriteCompany('')"><i class="icon ion-ios-star-outline" style="font-size:32px;"></i></a>
    <a ng-show="filled" ng-click="deleteFavorite('')"><i class="icon ion-ios-star" style="font-size:32px;"></i></a>
  </ion-nav-buttons>
	<ion-content>
		<div style="margin:0px auto; width:100%; text-align:center;"><img src="{{details.Logo}}" style="padding:10px 25px; max-height:10%; max-width:100%; "></div>
        <div style="padding:0px 20px">
           <h3 style="margin:0px; padding:0px;">{{details.Location}}</h3>
           <p>{{details.Description}}</p>
           
           <button ng-show="showInfo" class="button button-positive" ng-click="requestInfo()" type="submit">Request More Info</button>
        </div>
            
	</ion-content>
</ion-view>