<style>
.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  top: 50px;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
</style>
<ion-view view-title="{{title}}"> 
      <div class="bar bar-subheader bar-light">
	    <div class="button-bar favorites">
			<a class="button buttonPickerActive schedule " ng-click="toggle('schedule')">Schedule</a>
			<a class="button buttonPicker directory" ng-click="toggle('directory')">Directory</a>
			<a class="button buttonPicker maps"  ng-click="toggle('maps')">Maps</a>
	    </div>
	  </div>
  <ion-content style="margin-top: 50px">

	<div ng-show="showSch">
		<div style="text-align: center">{{noSchedule}}</div>

		<ul ng-repeat="(ScheduledDate, sch) in schedule" class="table-view" id="schedule">
		   <li class="item item-divider" style="background:#bfbfbf; color:#F2F2F2">{{ScheduledDate}}</li>

		   <div ng-repeat="x in sch">
           
          <li ng-if="x.Speaker" class="item item-icon-right" style="padding: 0; padding-right: 54px">
            <a class="item item-thumbnail-left" style="margin-left: 0; border: none" ui-sref="app.polling({SpeakerID: x.SpeakerID, ID: 5, PresentationID: x.ID})">
              <img style="height: 80px" src="{{x.ThumbImage}}"/>
              
              <p style="font-size:14px; font-weight: bold">Speaker: {{x.Speaker}}</p>
              <p style="font-size:12px;">{{x.Title}}</p>
              
              <p style="font-size:.6em; color:#3C9AC3;"><strong>Start Time: {{x.displayTime | date: 'shortTime'}} </strong></p>
            </a>
            <a ng-show="true" ng-click="deleteFavorite('{{x.ID}}','schedule')"><i class="icon ion-ios-star" style="font-size:32px; float: right"></i></a>
          </li>
           

           <li ng-if="x.Speaker == ''" class="item item-thumbnail-left item-icon-right">
 				<img style="height: 80px" src="{{x.ThumbImage}}"/>

 				<p style="font-size:14px; font-weight:bold;">{{x.Title}}</p>

 				<p style="font-size:.6em; color:#3C9AC3;"><strong>Start Time: {{x.displayTime | date: 'shortTime'}} </strong></p>

       			<a ng-show="true" ng-click="deleteFavorite('{{x.ID}}','schedule')"><i class="icon ion-ios-star" style="font-size:32px; float: right"></i></a>
           </li>
           </div>
	    </ul>    
	</div>

	<div ng-show="showDir">
		<div style="text-align: center">{{noDirectory}}</div>
		<ion-list>
			<ion-item ng-repeat="requests in directoryFav" class="item  item-icon-right item-text-wrap" ui-sref="app.details({RecID: {{requests.ID}}})">
				<img style="width: 80px; float: right" src="{{requests.Logo}}"/>
				<h2>{{requests.Company}}</h2>
				<p>Booth: {{requests.BoothNum}}<p/>
				<p>{{requests.PreviewDesc}}</p>
				<a ng-show="true" ng-click="deleteFavorite('{{requests.ID}}','company')"><i class="icon ion-ios-star" style="font-size:32px; float: right"></i></a>
			</ion-item>
		</ion-list>

	</div>

	<div ng-show="showMaps">
		<script id="image-modal.html" type="text/ng-template">

              <div class="modal image-modal transparent" ng-click="closeModal()">
               <div class="button button-clear" style="float:right;" ng-click="modal.hide()"><span style="color:#FFF;" class="icon icon-right ion-close"></span></div>
                  <ion-pane class="transparent">
                     <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
                  </ion-pane>
              </div>
          </script>
		<div style="text-align: center">{{noMaps}}</div>
	 	<ul ng-repeat="map in mapsFav" class="table-view" id="map">
	       <li class="item" style="margin:10px 5px 10px 5px; padding:10px;"><div style="height: 250px;">

	       <div style="width:100%; text-align:center; background:#FFF;"><img ng-click="showImage('{{map.Image}}')" style="max-width: 100%; max-height: 200px; border:0px;" src="{{map.Image}}"/></div>
	       <p style="padding:5px 0px 0px 0px;"><b>{{map.MapName}}</b><br>{{map.MapDesc}}
	            <a ng-show="{{map.NoFav}}" ng-click="saveFavoriteMap('{{map.RecID}}')">
	            <i class="icon ion-ios-star-outline" style="font-size:42px; margin-top:-20px; float: right"></i>
	            </a>
	   		<a ng-show="true" ng-click="deleteFavorite('{{map.ID}}', 'maps')"><i class="icon ion-ios-star" style="font-size:32px; float: right"></i></a>

	       </div>
	       </li>
	    </ul>
	</div>
  </ion-content>
</ion-view>
