<ion-view view-title="{{title}}">
    <div style="height: 40px;"></div>

  <div class="signInOverlay" style="display: none">
	      <div class="signIn"  style="text-align: center; z-index: 2;">
	        <div style="height: 15px;"></div>
	        <div class="navigate-right">
	            <span class="media-object icon ion-person"></span>
	            <div class="media-body">
	                <strong>Sign In to Participate</strong>
	            </div>
	            <button class="button button-calm signInButton" ng-click="login()" >Sign In</button>
	        </div>
	      </div> 
      </div>
  <ion-content>  

    <div data-role="content" id="pollingFeedback" style="width: 90%; text-align: center; margin-left: 5%;">
        <form id="userFeedback"ng-submit="submit()">
            Provide Feedback  
            <div style="height: 10px"></div>
              <label class="item item-input">
			    <textarea id="Feedback" name="Feedback" style="height: 100px" placeholder="What is on your mind?"></textarea> 
			  </label>
			  <div style="height: 15px"></div>
            <button class="button button-energized" value="Submit Question" type="submit" name="submit">Submit</button>
        </form>
    </div>

  </ion-content>
</ion-view>
