<ion-view view-title="Nicky5">
    <div class="content has-header" >

        <div style="width:100%; left:0; padding:0px;" id="featured">
            <!--<div style="background-size:cover; position:relative; background:#FFF;" >
               <a class="push-right tap" href="directory.html#directory" data-transition="slide-in">
                   <img src="http://lorempixel.com/350/150/" style="width:100%;">
                   <div class="inner-content" style="position:absolute; text-align:left; padding:10px 20px; color:#000; bottom:0; width:100%">
                        <h2 style="margin:0px;">Featured Events</h2>
                        <p>This is a description line for the featured event</p>
                        </a>
                   </div>
            </div>-->
        </div>
        <div style="clear:both; height:4px;"></div>
        <div style="width:33.334%;  float:left; position:realtive;">
            <div style="background:none; margin:2px;">
                <a class="push-right tap" ui-sref="app.directory" data-transition="slide-in">
                    <img src="images/directory.jpg" style="width:100%;">
                    <div style="position:absolute; background:none; text-align:left; color:#000; width:100%; bottom:20px; left:20px;">
                        <h5 style="margin:0px; color:#000;">Directory</h5>

                    </div>
                </a>
            </div>
        </div>
        <div style="width:33.334%;  float:left; position:realtive;">
            <div style="background:none; margin:2px;">
                <a class="push-right tap" ui-sref="app.schedule" data-transition="slide-in">
                    <img src="images/schedule.jpg" style="width:100%;">
                    <div style="position:absolute; background:none; text-align:left; color:#000; width:100%; bottom:20px; left:20px;">
                        <h5 style="margin:0px; color:#000; text-shadow:2px 2px 2px #FFF;">Schedule</h5>

                    </div>
                </a>
            </div>
        </div>
        <div style="width:33.333%; float:left; position:realtive;">
            <div style="background:none; margin:2px;">
                <a ui-sref="app.maps" data-transition="slide-in">
                    <img src="images/maps.jpg" style="width:100%; padding:0px; margin:0px;">
                    <div style="position:absolute; background:none; text-align:left; color:#000; width:100%; bottom:20px; left:20px;">
                        <h5 style="margin:0px; color:#000;">Maps</h5>

                    </div>
                </a>
            </div>
        </div>

        <div style="clear:both; height:5px;"></div>
        <div class="card" style="background-color:#FFF;">

            <ul class="table-view">
                <!--<li class="table-view-cell">
                  <a class="push-right tap" href="directory.html#directory" data-transition="slide-in">
                    <strong>Directory</strong>
                  </a>
                </li>
                <li class="table-view-cell">
                  <a class="push-righ tap" href="schedule.html#schedule" data-transition="slide-in">
                    <strong>Schedule</strong>
                  </a>
                </li>
                <li class="table-view-cell">
                  <a class="push-right" href="trivia.html#trivia" data-transition="slide-in">
                    <strong>Trivia</strong>
                  </a>
                </li>-->
                <li class="table-view-cell">
                    <a class="push-right" id="presentation-link" ui-sref="app.polling" data-transition="slide-in">
                        <strong>Attend Presentation</strong>
                        <div id="presentation-live" style="position:absolute; right:5px; top:5px; "><img style="width:100px; border:0px;" src="images/live.jpg"></div>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" ui-sref="app.trivia" data-transition="slide-in">
                        <strong>Play Trivia</strong>
                        <div id="trivia-live" style="position:absolute; right:5px; top:5px; "><img style="width:100px; border:0px;" src="images/live.jpg"></div>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" ui-sref="app.favorites" data-transition="slide-in">
                        <strong>Favorites</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" ui-sref="app.feedback" data-transition="slide-in">
                        <strong>Feedback</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" ui-sref="app.social" data-transition="slide-in">
                        <strong>Social</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>



</ion-view>
