<style>
.inner-content {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.99) 83%, rgba(0,0,0,1) 84%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(83%,rgba(0,0,0,0.99)), color-stop(84%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 83%,rgba(0,0,0,1) 84%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 83%,rgba(0,0,0,1) 84%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 83%,rgba(0,0,0,1) 84%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 83%,rgba(0,0,0,1) 84%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

  padding-top:25px;
  position:absolute;
  bottom:0;
  width:100%;
  letter-spacing: 0px;
}
.inner-content h1, h2, p {
   padding:0px 10px;
}
.inner-content p {
 color:#31AAD8;
 font-size:12pt
}
.gradient-box {
   background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.99) 83%, rgba(0,0,0,1) 84%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(83%,rgba(0,0,0,0.99)), color-stop(84%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 83%,rgba(0,0,0,1) 84%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 83%,rgba(0,0,0,1) 84%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 83%,rgba(0,0,0,1) 84%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 83%,rgba(0,0,0,1) 84%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}
.gradient-purp {
   background:url("images/purplegrad.png") repeat-x;
   background-size:cover;
}
.pg-image {position:relative; display:block; margin:1px 1px 0px 1px ; }
.pg-image img {width:100%; vertical-align: top;}
.pg-image:after{ 
  width: 100%;
  height:100%;
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  z-index:100;
  display: block;
  transition:all .3s ease;
background:url("images/grad-dark2.png");
   background-size:100%;
   background-position: bottom;
   overflow: hidden;
   vertical-align: top;
   line-height:0;

}
.featured-box {
 max-height: 220px;
 overflow: hidden;
}
.featured-box .pg-image:after {
  background:url("images/grad-dark3.png");
  vertical-align: top;
  top:0;
  background:cover;
  height:100%;
  width:100%;
}


/**
 * CSS image crop. Forces image to 4:3 aspect ratio cropping at the middle.
 * http://dabblet.com/gist/4711695
 */
.thumb
     {
     height:150px; 
     display:block; 
     position:relative;
     overflow:hidden;
     }
.thumb img 
    {
     position:absolute;
     top:0%;
     left:0; 
     width:100%;
     }
#home-menu a {
  text-decoration:none;
  color:#666;
}
.inner-small {
  bottom:0px; position:absolute; z-index:200
}

.full {
  background:#cdcdcd;
}
</style>
<ion-view view-title="Nicky5" >
    <ion-content class="has-header">
   
        <div id="featured">
          <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" auto-play="true" does-continue="true" set-interval="10000">
            <ion-slide>
               <div class="box">
                  <a href="{{feature.live.link}}">
                    <div class="thumb featured" style="height:220px; overflow:hidden; position:relative;" >
                      <img src="{{feature.Image}}">
                      <div class="inner-content">
                        <h2 style="margin:0px; letter-spacing: -.5px; color:#F1F1F1">{{feature.Title}}</h2>
                        <p>{{feature.ScheduledDate}} {{feature.StartTime}}</p>
                      </div>
                    </div>
                  </a>
              </div>
             </ion-slide>
               <ion-slide>
               <div class="box">
                  <a href="{{feature.live.link}}">
                    <div class="thumb featured" style="height:220px; overflow:hidden; position:relative;" >
                      <img src="{{feature.Image}}">
                      <div class="inner-content">
                        <h2 style="margin:0px; letter-spacing: -.5px; color:#F1F1F1">This is a test</h2>
                        <p>Scroller</p>
                      </div>
                    </div>
                  </a>
              </div>
             </ion-slide>
             <ion-slide>
               <div class="box">
                  <a href="{{feature.live.link}}">
                    <div class="thumb featured" style="height:220px; overflow:hidden; position:relative;" >
                      <img src="{{feature.Image}}">
                      <div class="inner-content">
                        <h2 style="margin:0px; letter-spacing: -.5px; color:#F1F1F1">This is a test</h2>
                        <p>Scroller</p>
                      </div>
                    </div>
                  </a>
              </div>
             </ion-slide>
          </ion-slide-box>
        </div>

     <div class="full">
      <div ng-repeat="x in menu|filter:{TileOrder: '!null'}|orderBy : 'TileOrder'">
       <div style="width:50%; float:left; position:relative;" ng-if="x.TileOrder != 5 && x.TileOrder != 10 && x.TileOrder != 15 " ui-sref="app.{{x.Page}}({ID: {{x.ID}}})">
                  <div style="position:relative; width:100%; z-index:999;">
                    <div style="position:absolute; top:10px; right:10px;">
                       <i class="icon ion-{{x.Icon}}" style="color:#F87D3F; font-size:1.4em"></i>
                    </div>
                  </div>
                  <div class="pg-image">
                    <img src="{{x.Image}}">
                  </div>

                   <div class="inner-small">
                        <div style="padding:10px; width:100%; color:#FFF">
                        <span style="font-size:1.2em; font-weight:800;">{{x.Name}}</span>
                        <p style="padding:0px; font-size:.8em">{{x.Description}}</p>
                        </div>
                   </div>
        </div>

        <div class="featured-box" style="float:left; position:relative;" ng-if="x.TileOrder == '5'|| x.TileOrder == '10'|| x.TileOrder == '15'" ui-sref="app.{{x.Page}}({ID: {{x.ID}}})">
                  <a style="text-decoration:none">
                  <div style="position:relative; width:100%; z-index:999;">
                    <div style="position:absolute; top:10px; right:10px;">
                       <i class="icon ion-{{x.Icon}}" style="color:#F87D3F; font-size:1.4em"></i>
                    </div>
                  </div>
                  <div class="pg-image">
                    <img src="{{x.Image}}">
                  </div>

                   <div class="inner-small">
                        <div style="padding:10px; width:100%; color:#FFF">
                        <span style="font-size:1.2em; font-weight:800;">{{x.Name}}</span>
                        <p style="padding:0px; font-size:.8em">{{x.Description}}</p>
                        </div>
                   </div>
                   </a>
        </div>
      </div>



      <!--  <div style="width:50%; float:left; position:relative;" >
                  <div style="position:relative; width:100%; z-index:999;">
                    <div style="position:absolute; top:10px; right:10px;">
                       <i class="icon ion-briefcase" style="color:#F87D3F; font-size:1.4em"></i>
                    </div>
                  </div>
                  <div class="pg-image">
                    <img src="images/directory-new.jpg">
                  </div>

                   <div class="inner-small">
                        <div style="padding:10px; width:100%; color:#FFF">
                        <span style="font-size:1.2em; font-weight:800;">Directory</span>
                        <p style="padding:0px; font-size:.8em">Navigate full list of attendees</p>
                        </div>
                   </div>
        </div>
         
         <div style="width:50%; float:left; position:relative;">
                  <div style="position:relative; width:100%; z-index:999;">
                    <div style="position:absolute; top:10px; right:10px;">
                       <i class="icon ion-calendar" style="color:#F87D3F; font-size:1.4em"></i>
                    </div>
                  </div>
                  <div class="pg-image">
                    <img src="images/schedule-new.jpg" style="width:100%;">
                  </div>
                 
                   <div class="inner-small">
                        <div style="padding:10px; width:100%; color:#FFF">
                        <span style="font-size:1.2em; font-weight:800;">Schedule</span>
                        <p style="padding:0px; font-size:.8em">View full list of events</p>
                        </div>
                   </div>
        </div>
       <div style="width:50%; float:left; position:relative;">
                   <div style="position:relative; width:100%; z-index:999;">
                    <div style="position:absolute; top:10px; right:10px;">
                       <i class="icon ion-map" style="color:#F87D3F; font-size:1.4em"></i>
                    </div>
                  </div>
                  <div class="pg-image">
                    <img src="images/maps-new.jpg" style="width:100%;">
                  </div>
                  <div class="inner-small">
                        <div style="padding:10px; width:100%; color:#FFF">
                        <span style="font-size:1.2em; font-weight:800;">Maps</span>
                        <p style="padding:0px; font-size:.8em">Get there faster</p>
                        </div>
                   </div>
        </div>
       <div style="width:50%; float:left; position:relative;">
                   <div style="position:relative; width:100%; z-index:999;">
                    <div style="position:absolute; top:10px; right:10px;">
                       <i class="icon ion-speakerphone" style="color:#F87D3F; font-size:1.4em"></i>
                    </div>
                  </div>
                  <div class="pg-image">
                    <img src="images/presentations-new.jpg" style="width:100%;">
                  </div>
                   <div class="inner-small">
                        <div style="padding:10px; width:100%; color:#FFF">
                        <span style="font-size:1.2em; font-weight:800;">Presentations</span>
                        <p style="padding:0px; font-size:.8em">Get there faster</p>
                        </div>
                   </div>
        </div>

         <div class="featured-box" style="float:left; position:relative;">
                   <div style="position:relative; width:100%; z-index:999;">
                    <div style="position:absolute; top:10px; right:10px;">
                       <i class="icon ion-radio-waves" style="color:#F87D3F; font-size:1.4em"></i>
                    </div>
                  </div>
                  <div class="pg-image">
                    <img src="images/social-new.jpg">
                  </div>
                 <div class="inner-small featured">
                        <div style="padding:10px; width:100%; color:#FFF">
                        <span style="font-size:1.2em; font-weight:800;">Social Media</span>
                        <p style="padding:0px; font-size:.8em">What people are talking about</p>
                        </div>
                   </div>
        </div>

        <div style="width:50%; float:left; position:relative;">
                   <div style="position:relative; width:100%; z-index:999;">
                    <div style="position:absolute; top:10px; right:10px;">
                       <i class="icon ion-lightbulb" style="color:#F87D3F; font-size:1.4em"></i>
                    </div>
                  </div>
                  <div class="pg-image">
                    <img src="images/e-learning.jpg">
                  </div>
                   <div class="inner-small">
                        <div style="padding:10px; width:100%; color:#FFF">
                        <span style="font-size:1.2em; font-weight:800;">Learning</span>
                        <p style="padding:0px; font-size:.8em">Navigate full list of attendees</p>
                        </div>
                   </div>
        </div>

        <div style="width:50%; float:left; position:relative;">
                   <div style="position:relative; width:100%; z-index:999;">
                    <div style="position:absolute; top:10px; right:10px;">
                       <i class="icon ion-star" style="color:#F87D3F; font-size:1.4em"></i>
                    </div>
                  </div>
                  <div class="pg-image">
                    <img src="images/favorites.jpg">
                  </div>
                   <div class="inner-small">
                        <div style="padding:10px; width:100%; color:#FFF">
                        <span style="font-size:1.2em; font-weight:800;">Favorites</span>
                        <p style="padding:0px; font-size:.8em">Navigate full list of attendees</p>
                        </div>
                   </div>
        </div>-->
    
        <div style="clear:both; height:2px;"></div>
    </div>   
   

   </ion-content>
</ion-view>
