<ion-view view-title="{{title}}">
  <ion-content >
	<ion-list>
		<ion-item class="item  item-icon-right" ng-click="questions()">
			Solar Energy Q&A
			<i class="icon ion-chevron-right" style="font-size:14px"></i>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-item class="item  item-icon-right" ng-click="video()">
			Solar Energy Video Lesson
			<i class="icon ion-chevron-right" style="font-size:14px"></i>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-item class="item  item-icon-right" ng-click="multipleChoice()">
			Solar Energy Quiz
			<i class="icon ion-chevron-right" style="font-size:14px"></i>
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
