
<ion-view title="{{title}}">
	<ion-content>
	    <div class="content">
	        <ul ng-repeat="map in maps"  id="map" ui-sref="app.viewmap({RecID: {{map.RecID}} })">
	           <li class="item" style="margin:10px; padding:0px;">

	           <div class="thumb" style="width:100%; height:200px; text-align:center; background:#FFF;"><img src="{{map.Image}}"/></div>
	           <div style="width:100%">
                <div style="display:inline-block; width:85%">
               <p style="padding:10px; display:inline-block;; white-space:normal !important; text-overflow:clip !important;"><b>{{map.Name}}</b><br>{{map.Description}}</p> 
                </div>
                <div style="display:inline-block; width:15%; padding-top:20px; padding-right:20px; text-align:right; vertical-align:top;">
		            <a ng-show="{{map.NoFav}}" ng-click="saveFavoriteMap('{{map.RecID}}')">
		            <i class="icon ion-ios-star-outline" style="color:#F87D3F; font-size:32px;;"></i>
		            </a>
	           		<a ng-show="{{map.Fav}}" ng-click="deleteFavorite('{{map.RecID}}')">
	           		<i class="icon ion-ios-star" style="color:#F87D3F; font-size:32px;  "></i>
                </a>
                </div>
              </div>
	           		
	           
	           </li>
	        </ul>
	    </div>
            
	</ion-content>
</ion-view>
