<!--<div class="modal" ng-controller="ProfileCtrl">-->
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{desc.Title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeVideo()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content style="padding:0px 20px">

  <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide ng-repeat="x in slides">
      <img src="{{x.Link}}" style="width: 100%">
      </ion-slide>
  </ion-slide-box>
  <div style="font-size: 10px; text-align: center">Swipe left and right to navigate</div>

<div class="list" style="margin-top: 5px">

    <a class="item item-thumbnail-left" >
      <img src="{{speakerInfo.Image}}">
      <h2 style="font-weight: 800">{{speakerInfo.Name}}</h2>
      <p>{{speakerInfo.Title}}</p>
    </a>

</div>
  <div>
    <span style="font-weight: 800"> Summary</span>
    <p>{{desc.ShortDesc}}</p>
  </div>

  </ion-content>
</ion-modal-view>
<!--</div>-->
