<ion-view view-title="{{desc.Title}}">
    <style type="text/css">
        .score {
          font-size:24px;
        }
         .opt, .opt-row {
             display:inline-block;
          }

        .opt img {
          max-width:450px;
          width:100%;

        }
        .scroll {

        	height:100%;
        }
    </style>
    <div style="height: 40px;"></div>
    <!--<div ng-show="show" id="signInOverlay" style="height: 100%; width: 100%; background: rgba(0, 0, 0, 0.9); z-index: 1; position: absolute;"></div>
    
      <div ng-show="show" id="signIn"  style="text-align: center; z-index: 2; position: relative;">
        <div style="height: 15px;"></div>
        <a class="navigate-right" href="">
            <span class="media-object icon ion-person"></span>
            <div class="media-body">
                <strong>Sign In to Participate</strong>
            </div>
            <div style="height: 15px;"></div>

            <button class="button button-calm" style="font-size: 25px; padding-top: 15px; padding-right: 25px; padding-bottom: 15px; padding-left: 25px;" ng-click="login()" >Sign In</button>

        </a>
        <div style="height: 15px;"></div>
      </div> --> 
      <div class="bar bar-subheader bar-light">
	    <div class="button-bar presentation">
			<a class="button buttonPickerActive speaker " ng-click="toggle('speaker')">Presentation</a>
			<a class="button buttonPicker  question" ng-click="toggle('question')">Ask Question</a>
			<a class="button buttonPicker  polling"  ng-click="toggle('polling')">Answer Polling</a>
	    </div>
	  </div>
  <ion-content style="height: 100%">

	<!--<div style="font-size: 14px; text-align: center; margin-top: 45px;">Do you want to learn about the Speaker, <br>Ask a Question or Answer Polling? <br> Click one of the tabs above.<hr></div>-->
	<div style="height: 20px;"></div>
	<div id="pollingSpeaker" ng-show="speaker" style="padding: 0 20px; margin-top: 20px; margin-bottom: 100px">
		<div >
			<ion-slide-box on-slide-changed="slideHasChanged($index)">
			  <ion-slide ng-repeat="x in slides">
			    <img src="{{x.Link}}" style="width: 100%">
			  </ion-slide>
			</ion-slide-box>
		</div>
		<div class="list" style="margin-top: 10px" ng-click="openSpeaker()">
			<div class="item item-thumbnail-left">
				<img src="{{speakerInfo.ThumbImage}}">
				<h2 style="font-weight: 800">{{speakerInfo.Name}}</h2>
				<!--<i class="icon ion-information-circled" style="font-size:32px; float: right"></i>-->
				{{speakerInfo.Title}}
				<div style="font-size: 10px;">Click to learn more about the speaker</div>
			</div>
		</div>
		<div>
			<span style="font-weight: 800"> Summary</span><br>
			{{desc.ShortDesc}}
		</div>
		<div style="height: 70px"></div>
	</div>

	<div id="pollingAnswers" ng-show="answer" style="height: 100%">

	  <div ng-show="show" id="signInOverlay" style="height: 100%; width: 100%; background: rgba(0, 0, 0, 0.9); z-index: 1; top:50px; bottom:0; left:0; right:0; position: absolute;">
	      <div id="signIn"  style="text-align: center; z-index: 2;">
	        <div style="height: 15px;"></div>
	        <a class="navigate-right" href="">
	            <span class="media-object icon ion-person"></span>
	            <div class="media-body">
	                <strong>Sign In to Participate</strong>
	            </div>
	            <div style="height: 15px;"></div>

	            <button class="button button-calm" style="font-size: 25px; padding-top: 15px; padding-right: 25px; padding-bottom: 15px; padding-left: 25px;" ng-click="login()" >Sign In</button>

	        </a>
	      </div> 
      </div>

	    <div style="width:100%; height: 100%">
	        <div style="text-align:center; max-width:960px; margin-top:30px ;">
	            <div class="opt-row">
	                <div class="opt">
	                   <div style="padding:5px;">
	                      <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('A')" src="images/A.png"></a>
	                    </div>
	                </div>
	                <div class="opt">
	                    <div style="padding:5px;">
	                        <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('B')"  src="images/B.png"></a>
	                    </div>
	                </div>
	            </div>
	            <div class="opt-row">
	                <div class="opt">
	                    <div style="padding:5px;">
	                      <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('C')"  src="images/C.png"></a>
	                    </div>
	                </div>
	                <div class="opt">
	                    <div style="padding:5px;">
	                        <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('D')"  src="images/D.png"></a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>

    <div id="pollingFeedback" style="width: 90%; text-align: center; margin-left: 5%;" ng-show="question">
    	<div ng-show="show" id="signInOverlay" style="height: 100%; width: 100%; background: rgba(0, 0, 0, 0.9); z-index: 100; top:50px; bottom:0; left:0; right:0; position: absolute;">
	      <div id="signIn"  style="text-align: center; z-index: 2;">
	        <div style="height: 15px;"></div>
	        <a class="navigate-right" href="">
	            <span class="media-object icon ion-person"></span>
	            <div class="media-body">
	                <strong>Sign In to Participate</strong>
	            </div>
	            <div style="height: 15px;"></div>

	            <button class="button button-calm" style="font-size: 25px; padding-top: 15px; padding-right: 25px; padding-bottom: 15px; padding-left: 25px;" ng-click="login()" >Sign In</button>

	        </a>
	      </div> 
      </div>
        <form id="formQuestionPolling"ng-submit="submit()">
            <div style="height: 30px"></div>
              <label class="item item-input">
			    <textarea id="userQuestion" style="height: 100px" placeholder="What is on your mind?"></textarea> 
			  </label>
			  <div style="height: 15px"></div>
            <button class="button button-energized" value="Submit Question" type="submit" name="submit">Submit</button>
        </form>
    </div>
  </ion-content>
	<div class="bar bar-footer button-stable buttonPicker title" style="border-bottom: none !important;" ng-show="speaker">
		<div class="button button-stable button-clear title" ng-click="register()" style="color: white">Register</div>
	</div>
</ion-view>
