<!--<div class="modal" ng-controller="ProfileCtrl">-->
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{desc.Title}}</h1>
    <div class="buttons">
    </div>
    <button class="button button-icon ion-ios-arrow-back button-clear" style="font-size: 16px; color: #444" ng-click="closePreview()"> {{title}}</button>

  </ion-header-bar>
  <ion-content style="padding:0px 20px">

  <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide ng-repeat="x in slides">
      <img src="{{x.Link}}" style="width: 100%">
      </ion-slide>
  </ion-slide-box>
  <div style="font-size: 10px; text-align: center">Swipe left or right to navigate</div>

<div class="list" style="margin-top: 5px">

    <div class="item item-thumbnail-left" >
      <img src="{{speakerInfo.Image}}">
      <h2 style="font-weight: 800">{{speakerInfo.Name}}</h2>
      {{speakerInfo.Title}}

              <a ng-show="true" ng-click="saveFavoriteSchedule('{{desc.RecID}}')"><i class="icon ion-ios-star-outline" style="font-size:32px; float: right"></i></a>
            <a ng-show="{{x.Fav}}" ng-click="deleteFavorite('{{desc.RecID}}')"><i class="icon ion-ios-star" style="font-size:32px; float: right"></i></a>
    </div>

</div>
  <div>
    <span style="font-weight: 800"> Summary</span>
    <p>{{desc.ShortDesc}}</p>
  </div>

  </ion-content>
</ion-modal-view>
<!--</div>-->
