<ion-view view-title="{{title}}">
    <style type="text/css">
        .score {
          font-size:24px;
        }
         .opt, .opt-row {
             display:inline-block;
          }

        .opt img {
          max-width:450px;
          width:100%;
        }
    </style>
    <div style="height: 40px;"></div>
    <div ng-show="show" id="signInOverlay" style="height: 100%; width: 100%; background: rgba(0, 0, 0, 0.9); z-index: 1; position: absolute;"></div>
    
      <div ng-show="show" id="signIn"  style="text-align: center; z-index: 2; position: relative;">
        <div style="height: 15px;"></div>
        <a class="navigate-right" href="">
            <span class="media-object icon ion-person"></span>
            <div class="media-body">
                <strong>Sign In to Participate</strong>
            </div>
            <div style="height: 15px;"></div>

            <button class="button button-calm" style="font-size: 25px; padding-top: 15px; padding-right: 25px; padding-bottom: 15px; padding-left: 25px;" ng-click="login()" >Sign In</button>

        </a>
        <div style="height: 15px;"></div>
      </div>  
      <div class="bar bar-subheader bar-light">
	    <div class="button-bar">
			<a class="button button-stable speaker" ng-click="toggle('speaker')">About Speaker</a>
			<a class="button button-stable question" ng-click="toggle('question')">Ask Question</a>
			<a class="button button-stable polling"  ng-click="toggle('polling')">Answer Polling</a>
	    </div>
	  </div>
  <ion-content>

	<div style="font-size: 14px; text-align: center; margin-top: 45px;">Do you want to learn about the Speaker, <br>Ask a Question or Answer Polling? <br> Click one of the tabs above.<hr></div>
	<div style="height: 20px;"></div>

	<div data-role="content" id="pollingAnswers" ng-show="answer">
	    <div style="width:100%;">
	        <div style="text-align:center; max-width:960px; margin:0px auto;">
	            Polling Key
	            <div class="opt-row">
	                <div class="opt">
	                   <div style="padding:5px;">
	                      <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('A')" src="images/A.png"></a>
	                    </div>
	                </div>
	                <div class="opt">
	                    <div style="padding:5px;">
	                        <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('B')"  src="images/B.png"></a>
	                    </div>
	                </div>
	            </div>
	            <div class="opt-row">
	                <div class="opt">
	                    <div style="padding:5px;">
	                      <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('C')"  src="images/C.png"></a>
	                    </div>
	                </div>
	                <div class="opt">
	                    <div style="padding:5px;">
	                        <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('D')"  src="images/D.png"></a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>

    <div data-role="content" id="pollingFeedback" style="width: 90%; text-align: center; margin-left: 5%;" ng-show="question">
        <form id="formQuestionPolling"ng-submit="submit()">
            Ask a Question  
            <div style="height: 10px"></div>
              <label class="item item-input">
			    <textarea id="userQuestion" style="height: 100px" placeholder="What is on your mind?"></textarea> 
			  </label>
			  <div style="height: 15px"></div>
            <button class="button button-energized" value="Submit Question" type="submit" name="submit">Submit</button>
        </form>
    </div>

	<div data-role="content" id="pollingSpeaker" ng-show="speaker">
		<div style="text-align: center">{{noSpeaker}}</div>
	</div>

  </ion-content>
</ion-view>
