<!--<div class="modal" ng-controller="ProfileCtrl">-->
<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">{{speakerInfo.Name}}</h1>
    <div class="buttons">
    </div>
    <button class="button button-icon ion-ios-arrow-back button-clear" style="font-size: 16px; color: #444" ng-click="closePreview()"> Back</button>

  </ion-header-bar>
  <ion-content style="padding:0px 20px; margin-top: 20px">

 <!-- <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide ng-repeat="x in slides">
      <img src="{{x.Link}}" style="width: 100%">
      </ion-slide>
  </ion-slide-box>


  <div style="font-size: 10px; text-align: center">Swipe left or right to navigate</div>

<div class="list" style="margin-top: 5px">

    <div class="item item-thumbnail-left" >
      <img src="{{speakerInfo.Image}}">
      <h2 style="font-weight: 800">{{speakerInfo.Name}}</h2>
      {{speakerInfo.Title}}
    </div>

</div>
  <div>
    <span style="font-weight: 800"> Summary</span>
    <p>{{desc.ShortDesc}}</p>
  </div>-->
<div class="media" style="width: 100%; " >
<img style="width:100%;" class="media-object" src="{{speakerInfo.Image}}"/>
<div class="media-body" style="font-size:120%; margin-top:12px;">{{speakerInfo.Name}}<br>
<span style="font-size:12px">{{speakerInfo.Title}}</span>
<div style="height: 1px; background: black; width: 100%"></div>
</div><p style="margin-top: 10px">{{speakerInfo.About}}</p>
</div>
  </ion-content>
</ion-modal-view>
<!--</div>-->


