<ion-view view-title="{{desc.Title}}" ng-cloak>
    <style type="text/css">
        .score {
          font-size:24px;
        }
         .opt, .opt-row {
             display:inline-block;
          }

        .opt img {
          max-width:450px;
          width:100%;

        }
        .scroll {

        	height:100%;
        }
    </style>
    <div style="height: 40px;"></div>
      <div class="bar bar-subheader bar-light">
	    <div class="button-bar presentation">
			<a class="button buttonPickerActive speaker" style="text-overflow:clip !important" ng-click="toggle('speaker')">Presentation</a>
			<a class="button buttonPicker  question" style="text-overflow:clip !important" ng-click="toggle('question')">Ask Question</a>
			<a class="button buttonPicker  polling" style="text-overflow:clip !important"  ng-click="toggle('polling')">Answer Polling</a>
	    </div>
	  </div>
  <ion-content style="height: 100%">

	<!--<div style="font-size: 14px; text-align: center; margin-top: 45px;">Do you want to learn about the Speaker, <br>Ask a Question or Answer Polling? <br> Click one of the tabs above.<hr></div>-->
	<div style="height: 20px;"></div>
    <div class="content" style="display: none">
    	<div class="top-container" id="pollingSpeaker" ng-show="speaker" style="padding: 0 20px; margin-top: 20px; margin-bottom: 100px; z-index: 99">
    
        <div class="swiper-container" ng-show="hasSlides">
          <div id="slides" class="swiper-wrapper" >
              <div class="box swiper-slide" ng-repeat="x in slides">
                    <div class="thumb featured" style="height:220px; overflow:hidden; position:relative;" >
                      <img src="{{x.Link}}" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div style="height: 20px; text-align: center; ">
                <div class="button button-clear left" style="float: left; z-index:999; display: inline">
                    <i class="icon ion-chevron-left" style="color: #F87D3F"></i>
                </div>
                <div style="display: inline">Click or swipe to view slides</div>
                <div class="button button-clear right"style="float: right; z-index:999; display: inline" >
                    <i class="icon ion-chevron-right" style="color: #F87D3F"></i>
                </div>
            </div>
        </div>
    
    		<div class="list" style="margin-top: 0px" ng-click="openSpeaker()">
    			<div class="item item-thumbnail-left-sch">
    				<img class="img-list" src="{{speakerInfo.ThumbImage}}">
                    
                    <div style="position: absolute; margin-top: 7px;">
        				<h2 style="font-weight: 800">{{speakerInfo.Name}}</h2>
        				<!--<i class="icon ion-information-circled" style="font-size:32px; float: right"></i>-->
        				{{speakerInfo.Title}}
        				<div style="font-size: 10px;">Click to learn more about the speaker</div>
                    </div>
    			</div>
    		</div>
    		<div>
    			<span style="font-weight: 800"> Summary</span><br>
    			{{desc.ShortDesc}}
    		</div>
    		<div style="height: 70px"></div>
    	</div>
    </div>
	<div id="pollingAnswers" ng-show="answer" style="height: 100%">

        <div class="signInOverlay" style="display: none">
	      <!--<div class="signIn"  style="text-align: center;">
	        <div style="height: 15px;"></div>
	        <div class="navigate-right">
	            <span class="media-object icon ion-person"></span>
	            <div class="media-body">
	                <strong>Log In to Participate</strong>
	            </div>
	            <button class="button button-calm signInButton" ng-click="login()" >Log In</button>
	        </div>
	      </div> -->
      </div>

	    <div class="answerKey" style="width:100%; height: 100%; display: none" >
	        <div style="text-align:center; max-width:960px; margin-top:30px ;">
                <h1><span id="title">Answer Polling</span></h1>
                <div class="opt-row">
                    <div class="opt"> 
                        <button class="button button-block button-positive" ng-click="savePollingAnswer('A')"" style="height: 125px; width: 125px; font-size: 60px">A</button>
                    </div>
                    <div class="opt"> 
                        <button class="button button-block button-positive" ng-click="savePollingAnswer('B')" style="height: 125px; width: 125px; font-size: 60px">B</button>
                    </div>
                </div>
               <div class="opt-row">
                    <div class="opt"> 
                        <button class="button button-block button-positive" ng-click="savePollingAnswer('C')" style="height: 125px; width: 125px; font-size: 60px">C</button>
                    </div>
                    <div class="opt"> 
                        <button class="button button-block button-positive" ng-click="savePollingAnswer('D')" style="height: 125px; width: 125px; font-size: 60px">D</button>
                    </div>
                </div>
	            <!--<div class="opt-row">
	                <div class="opt">
	                   <div style="padding:5px;">
	                      <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('A')" src="images/A.png"></a>
	                    </div>
	                </div>
	                <div class="opt">
	                    <div style="padding:5px;">
	                        <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('B')"  src="images/B.png"></a>
	                    </div>
	                </div>
	            </div>
	            <div class="opt-row">
	                <div class="opt">
	                    <div style="padding:5px;">
	                      <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('C')"  src="images/C.png"></a>
	                    </div>
	                </div>
	                <div class="opt">
	                    <div style="padding:5px;">
	                        <a data-toggle="modal"><img style="width:100%" ng-click="savePollingAnswer('D')"  src="images/D.png"></a>
	                    </div>
	                </div>
	            </div>-->
	        </div>
	    </div>
    </div>

    <div id="pollingFeedback" style="width: 90%; text-align: center; margin-left: 5%;" ng-show="question">
    	
        <div class="signInOverlay" style="display: none">
	      <!--<div class="signIn"  style="text-align: center;">
	        <div style="height: 15px;"></div>
	        <div class="navigate-right">
	            <span class="media-object icon ion-person"></span>
	            <div class="media-body">
	                <strong>Sign In to Participate</strong>
	            </div>
	            <button class="button button-calm signInButton" ng-click="login()" >Sign In</button>
	        </div>
	      </div>--> 
      </div>
        <div style="text-align:center; margin-top:30px ;">
            <h1><span id="title">Ask Question</span></h1>
        </div>
        <form id="formQuestionPolling"ng-submit="submit()">


              <label class="item item-input">
			    <textarea id="userQuestion" style="height: 100px" placeholder="What is on your mind?"></textarea> 
			  </label>
			  <div style="height: 15px"></div>
            <button  class="button button-block button-positive" value="Submit Question" type="submit" name="submit">Submit</button>
        </form>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-balanced" ng-show="speaker" >
        <div class="title" ng-click="register()" style="color: white">Register</div>
    </div>
</ion-view>

