<ion-view view-title="{{title}}">
      <div class="bar bar-subheader bar-light">
	    <div class="button-bar presentationList">
			<a class="button buttonPickerActive all" style="font-size: 12px" ng-click="toggle('all')">All</a>
			<a class="button buttonPicker live" style="font-size: 12px" ng-click="toggle('live')">Live</a>
			<a class="button buttonPicker upcoming" style="font-size: 12px" ng-click="toggle('upcoming')">Upcoming</a>
			<a class="button buttonPicker ended" style="font-size: 12px" ng-click="toggle('ended')">Finished</a>
	    </div>
	  </div>
  <ion-content style="margin-top: 45px" >
	<div ng-show="showMessage"  style="text-align: center; ">{{nothingToDisplay}}</div>
	<ul class="table-view" id="schedule">
	<div ng-repeat="x in list">
		<li class="item item-thumbnail-left-sch item-icon-right" ui-sref="app.polling({SpeakerID: x.SpeakerID, ID: 5, PresentationID: x.RecID})">
			<img class="img-list" src="{{x.ThumbImage}}"/>

			<div style="position: absolute; margin-top: 7px;">
				<p style="font-size:14px; font-weight: bold">Speaker: {{x.Speaker}}</p>
				<p style="font-size:12px;">{{x.Title}}</p>

				<p style="font-size:.6em; color:#3C9AC3;"><strong>Start Time: {{x.ScheduledDate}} {{x.displayTime | date: 'shortTime'}} </strong></p>
			</div>			
			<i class="icon ion-chevron-right" style="font-size:14px"></i>
			
		</li>
	</div>
</ul>
  </ion-content>
</ion-view>


