<div class="modal" ng-controller="ProfileCtrl">
<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title" style="margin-left: 30px;">Profile</h1>
    <div class="buttons">
    </div>
     <button class="button button-icon ion-ios-arrow-back button-clear" style="font-size: 16px; color: #444" ng-click="closeProfile()"></button>

  </ion-header-bar>
  <ion-content>
    <form ng-submit="update()">
      <div class="list">
      <label class="item item-input">
        <span class="input-label">Username:</span>
        <input type="text" placeholder="" value="{{userName}}"readonly="">
      </label>

      <label class="item item-input">
        <span class="input-label">BadgeID:</span>
        <input type="text" placeholder="" readonly="" value="{{badgeID}}">
      </label>

      <label class="item item-input item-stacked-label"></label>

        <label class="item item-input">
          <span class="input-label">First Name: </span>
          <input type="text" name="fnProfile" id="fnProfile" placeholder="First Name" value="{{firstName}}">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name: </span>
          <input type="text" name="lnProfile" id="lnProfile" placeholder="Last Name" value="{{lastName}}">
        </label>
        <label class="item item-input">
          <span class="input-label">Email: </span>
          <input type="text" name="emProfile" id="emProfile" placeholder="Email" value="{{email}}">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Update Profile</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
</div>
