<meta charset="utf-8">
<script id="image-modal.html" type="text/ng-template">
  <div class="modal image-modal transparent" ng-click="closeModal()">
        <div class="button button-clear" style="float:left; z-index: 99; margin-top: 5px" ng-click="modal.hide()"><span style="color:#FFF; font-size: 16px;" class="icon icon-right ion-ios-arrow-back"></span></div>
        <ion-pane class="transparent">
         <div style="height: 50px; background: black; "></div>
          <ion-scroll direction="y" style="height: 100%" has-bouncing="true">
          
            <div class="featured">
              <img ng-src="{{imageSrc}}" style="width: 100%"/>
            </div> 
  
            <div style="color: #fff; bottom: 0px ; z-index: 999; padding: 5px 20px;"> {{desc}} </div>

          </ion-scroll>
        </ion-pane>
        
      <div style="font-size: 1em; background:black; position: absolute; left: 1px; bottom: 0px; width: 100%" class="itemIG item-avatar">
        <img style="height: 80px" src="{{avatar}}" onerror="this.src='images/igNoIcon.jpg'" />
        <div style="margin-left: 50px; margin-top: 8px;">{{name}}</div>
      </div>
        <div class="whiteBar"></div>
      </div>
</script>

<script id="video-modal.html" type="text/ng-template">
  <div class="modal image-modal transparent" ng-click="closeVideoModal()">
          <div class="button button-clear" style="float:left; margin-top: 5px; z-index: 99" ng-click="modal.hide()"><span style="color:#FFF; font-size: 16px;" class="icon icon-right ion-ios-arrow-back"></span></div>
        <ion-pane class="transparent">
        <div id="watchYT" style="margin-top: 100px; display: none"></div>
      </ion-pane>
  </div>
</script>

<ion-view view-title="{{title}}" >

  <!--<div class="bar bar-subheader bar-light">
    <div class="button-bar">
      <a class="button button-stable icon-left ion-social-twitter-outline twitter" onclick="showSocial('#twitter')">Twitter</a>
      <a class="button button-stable icon-left ion-social-instagram-outline instagram" onclick="showSocial('#instagram')">Instagram</a>
      <a class="button button-stable icon-left ion-social-youtube-outline youtube" onclick="showSocial('#youtube')">YouTube</a>
    </div>
  </div>-->
<!--<div class="row bar bar-subheader bar-light">
  <div class="col"><a class="button button-stable icon-left ion-social-twitter-outline button-calm twitter" onclick="showSocial('#twitter')"></a></div>
  <div class="col"><a class="button button-stable icon-left ion-social-instagram-outline button-instagram instagram" onclick="showSocial('#instagram')"></a></div>
  <div class="col"><a class="button button-stable icon-left ion-social-youtube-outline button-youtube youtube" onclick="showSocial('#youtube')"></a></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>-->

   <div class="bar bar-subheader bar-light">
	    <div class="button-bar social">
			<a class="button buttonPickerActive ion-social-twitter-outline twitter " style="font-size: 24px" ng-click="toggle('twitter')"></a>
			<a class="button buttonPicker ion-social-instagram-outline instagram" style="font-size: 24px" ng-click="toggle('instagram')"></a>
      <a class="button buttonPicker ion-social-youtube-outline youtube"  style="font-size: 24px" ng-click="toggle('youtube')"></a>
			<a class="button buttonPicker ion-social-facebook-outline facebook"  style="font-size: 24px" ng-click="toggle('facebook')"></a>
	    </div>
	  </div>
 

  <ion-content class="has-subheader" class="ng-view" autoscroll="true" style=" margin-top: 10px">
                
         <div id="all" style="background:#FFF; display: none; margin-top:5px; ">
        </div>
        
        <div id="youtube" style="background:#FFF; margin-top:5px; display: none">
          <div ng-show="showMYT" style="text-align: center; ">{{messageYT}}</div>
          <div style="text-align: center; ">Youtube Videos</div>
          <div ng-repeat="x in youtube">
              <div ng-click="showVideo('{{x.snippet.resourceId.videoId}}')" style="position: relative"> 
                <img src="{{x.snippet.thumbnails.high.url}}" style="width:100%">
                <div style="padding:0 10px; font-size: 1em; color: white; position: absolute; bottom: 20px; z-index: 99">{{x.snippet.title}}</div>
                <img src="images/YouTubePlay.png" style="width:18%; position: absolute; top: 41%; left: 41%; z-index: 99 ">
                <div style="position: absolute; bottom: 0px; width:100%;">
                  <img src="images/grad-dark3.png" style="width: 100%;">
                </div>
              </div>
          </div>
        </div>
                
         <div id="twitter"  style="background:#FFF; margin-top:5px; display: block">
           <div ng-show="showMTW" style="text-align: center; ">{{messageTW}}</div>
           <div style="text-align: center; ">Twitter Timeline</div>
            <ul > 
              <li ng-repeat="x in twitter" class="item item-avatar item-text-wrap">
                <img style="height: 80px" src="{{x.AuthorAvatar}}" onerror="this.src='images/twitterNoIcon.png'"/>  
                <div style="font-size: 15px"><span style="font-size: 15px"><strong>{{x.AuthorName}}</strong></span><span style="font-size: 15px"> @{{x.AuthorScreenName}}</div></span>
                <div>{{x.Post}}</div>
                </div>
              </li>
            </ul> 
        </div>
        
         <div id="instagram" style="background:#FFF; margin-top:5px; display: none">
           <div ng-show="showMIG" style="text-align: center; ">{{messageIG}}</div>
           <div style="text-align: center; ">Instagram Photos</div>
           <div ng-repeat="x in instagram">
             <div style="position: relative" ng-click="showImage('{{x.RecID}}')">
               <img style="width: 100%" src="{{x.PostImageURL}}">
                <div style="font-size: 1em; position: absolute; left: 1px; bottom: 6px; width: 100%" class="itemIG item-avatar">
                  <img style="height: 80px" src="{{x.AuthorAvatar}}" onerror="this.src='images/igNoIcon.jpg'" />
                  <div style="margin-left: 50px; margin-top: 8px;"><strong>{{x.AuthorScreenName}}</strong></div>
                </div>
                <div style="position: absolute; bottom: 0px; width:100%;">
                  <img src="images/grad-dark3.png" style="width: 100%;">
                </div>
               <div style="color: #fff; position: absolute; bottom:70px">
                  <p style="padding: 0 15px" class="fadeIG">{{x.Post}}</p>
               </div>
               <div class="whiteBar"></div>
             </div>
           </div>
        </div>
        
        <div id="facebook" style="background:#FFF; margin-top:5px; display: none">
          <div ng-show="showMFB" style="text-align: center; ">{{messageFB}}</div>
          <div style="text-align: center; ">Facebook Posts</div>
            <div ng-repeat="x in facebook" style="margin-bottom: 0px;">
             <div style="position: relative">
                <div style="font-size: 1em; left: 1px; top: 6px; width: 100%" class="itemIG item-avatar">
                  <img style="height: 80px" src="{{x.AuthorAvatar}}" onerror="this.src='images/igNoIcon.jpg'" />
                  <div style="margin-left: 50px; margin-top: 8px; color: black"><strong>{{x.AuthorScreenName}}</strong></div>
                </div>
                <div style="padding: 0 15px;">
                  {{x.Message}}
                </div>
                <div ng-if="x.PostImageURL != ''">
                <img style="width: 100%;; margin-top: 10px" src="{{x.PostImageURL}}">
                <!--<div style="position: absolute; bottom: 0px; width:100%;">
                  <img src="images/grad-dark3.png" style="width: 100%;">
                </div>-->
                </div>
             </div>
             <div style="height: 1px; background: #ddd; margin-top: 20px"></div>
           </div>
        </div>


  </ion-content>
</ion-view>





