<script id="image-modal.html" type="text/ng-template">
  <div class="modal image-modal transparent" ng-click="closeModal()">
    <div class="button button-clear" style="float:right; z-index: 99" ng-click="modal.hide()"><span style="color:#FFF;" class="icon icon-right ion-close"></span></div>
      <ion-pane class="transparent">
        <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
        <div style="color: #fff; bottom: 110px ; z-index: 999; position: absolute; padding: 0 15px"> {{desc}} </div>
        <div style="font-size: 1em; position: absolute; left: 1px; bottom: 6px; width: 100%" class="itemIG item-avatar">
          <img style="height: 80px" src="{{avatar}}" />
          <div style="margin-left: 50px; margin-top: 8px;">{{name}}</div>
        </div>
        <div class="whiteBar"></div>
      </ion-pane>
  </div>
  
</script>

<ion-view view-title="{{title}}" >

  <!--<div class="bar bar-subheader bar-light">
    <div class="button-bar">
      <a class="button button-stable icon-left ion-social-twitter-outline twitter" onclick="showSocial('#twitter')">Twitter</a>
      <a class="button button-stable icon-left ion-social-instagram-outline instagram" onclick="showSocial('#instagram')">Instagram</a>
      <a class="button button-stable icon-left ion-social-youtube-outline youtube" onclick="showSocial('#youtube')">YouTube</a>
    </div>
  </div>-->
<!--<div class="row bar bar-subheader bar-light">
  <div class="col"><a class="button button-stable icon-left ion-social-twitter-outline button-calm twitter" onclick="showSocial('#twitter')"></a></div>
  <div class="col"><a class="button button-stable icon-left ion-social-instagram-outline button-instagram instagram" onclick="showSocial('#instagram')"></a></div>
  <div class="col"><a class="button button-stable icon-left ion-social-youtube-outline button-youtube youtube" onclick="showSocial('#youtube')"></a></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>-->

   <div class="bar bar-subheader bar-light">
	    <div class="button-bar social">
			<a class="button buttonPickerActive ion-social-twitter-outline twitter " style="font-size: 24px" ng-click="toggle('twitter')"></a>
			<a class="button buttonPicker ion-social-instagram-outline instagram" style="font-size: 24px" ng-click="toggle('instagram')"></a>
      <a class="button buttonPicker ion-social-youtube-outline youtube"  style="font-size: 24px" ng-click="toggle('youtube')"></a>
			<a class="button buttonPicker ion-social-facebook-outline facebook"  style="font-size: 24px" ng-click="toggle('facebook')"></a>
	    </div>
	  </div>
 

  <ion-content class="has-subheader" class="ng-view" autoscroll="true" style="padding:5pt; margin-top: 10px">
                
         <div id="all" style="background:#FFF; display: none; margin-top:5px; ">
        </div>
        
        <div id="youtube" style="background:#FFF; margin-top:5px; display: none">
          <div ng-repeat="x in youtube">
              <div ng-click="openYoutube('{{x.snippet.resourceId.videoId}}')" style="position: relative"> 
                <img src="{{x.snippet.thumbnails.high.url}}" style="width:100%">
                <div style="padding:0 10px; font-size: 1em; color: white; position: absolute; bottom: 20px; z-index: 99">{{x.snippet.title}}</div>
                <img src="images/YouTubePlay.png" style="width:18%; position: absolute; top: 41%; left: 41%; z-index: 99 ">
                <img src="images/grad-dark3.png" style="width: 100%; position: absolute; top: 0">
              </div>
          </div>
        </div>
                
         <div id="twitter"  style="background:#FFF; margin-top:5px; display: block">
            <ul > 
              <li ng-repeat="x in twitter" class="item item-avatar item-text-wrap">
                <img style="height: 80px" src="{{x.AuthorAvatar}}"/>  
                <div style="font-size: 1em"><strong>{{x.AuthorName}}</strong> @{{x.AuthorScreenName}}
                <p>{{x.Post}}</p>
                </div>
              </li>
            </ul> 
        </div>
        
         <div id="instagram" style="background:#FFF; margin-top:5px; display: none">
           <div ng-repeat="x in instagram">
             <div style="position: relative" ng-click="showImage('{{x.RecID}}')">
               <img style="width: 100%" src="{{x.PostImageURL}}">
                <div style="font-size: 1em; position: absolute; left: 1px; bottom: 6px; width: 100%" class="itemIG item-avatar">
                  <img style="height: 80px" src="{{x.AuthorAvatar}}" />
                  <div style="margin-left: 50px; margin-top: 8px;">{{x.AuthorScreenName}}</div>
                </div>
                <img src="images/grad-dark3.png" style="width: 100%; position: absolute; bottom: 5px">
               <div style="color: #fff; position: absolute; bottom:70px">
                  <p style="padding: 0 15px" class="fadeIG">{{x.Post}}</p>
               </div>
               <div class="whiteBar"></div>
             </div>
           </div>
        </div>
        
        <div id="facebook" style="background:#FFF; margin-top:5px; display: none">
          facebook
        </div>


  </ion-content>
</ion-view>





