<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title" style="margin-left: 30px;">Survey</h1>
    <div class="buttons">
    </div>
    <button class="button button-icon ion-ios-arrow-back button-clear" style="font-size: 16px; color: #444" ng-click="closeSurvey()"> </button>

  </ion-header-bar>
  <ion-content style="padding:0px 20px">

<div class="list" style="margin-top: 20px">

  <label class="item item-input item-select" >
    <div class="input-label">
      Question 1
    </div>
    <select>
		<option>10</option>
		<option>9</option>
		<option>8</option>
		<option>7</option>
		<option>6</option>
		<option>5</option>
		<option>4</option>
		<option>3</option>
		<option>2</option>
		<option>1</option>
    </select>
  </label>
  
  <label class="item item-input item-select" style="margin-top: 20px">
    <div class="input-label">
      Question 2
    </div>
    <select>
		<option>10</option>
		<option>9</option>
		<option>8</option>
		<option>7</option>
		<option>6</option>
		<option>5</option>
		<option>4</option>
		<option>3</option>
		<option>2</option>
		<option>1</option>
    </select>
  </label>
  
  <label class="item item-input item-select" style="margin-top: 20px">
    <div class="input-label">
      Question 3 
    </div>
    <select>
		<option>10</option>
		<option>9</option>
		<option>8</option>
		<option>7</option>
		<option>6</option>
		<option>5</option>
		<option>4</option>
		<option>3</option>
		<option>2</option>
		<option>1</option>
    </select>
  </label>
    <div style="text-align: center">
          <button class="button button-block button-balanced" ng-click="closeSurveyFinished()">Submit Survey</button>
    </div>
</div>

  </ion-content>
</ion-modal-view>
<!--</div>-->