<ion-view view-title="{{title}}">
    <style type="text/css">
        .score {
          font-size:24px;
        }
         .opt, .opt-row {
             display:inline-block;
          }

        .opt img {
          max-width:450px;
          width:100%;
        }
        .scroll {

          height:100%;
        }
    </style>
    
        <div class="signInOverlay" style="display: none">
	      <div class="signIn"  style="text-align: center; z-index: 2;">
	        <div style="height: 15px;"></div>
	        <div class="navigate-right">
	            <span class="media-object icon ion-person"></span>
	            <div class="media-body">
	                <strong>Sign In to Participate</strong>
	            </div>
	            <button class="button button-calm signInButton" ng-click="login()" >Sign In</button>
	        </div>
	      </div> 
      </div>
        
  <ion-content>
        <div style="width:100%; margin-top: 20px;">
            <div style="text-align:center; max-width:960px; margin:0px auto;">
                <h1><span id="title">Trivia Answer Key</span></h1>
                <div class="opt-row">
                    <div class="opt">
                       <div style="padding:5px;">
                          <a data-toggle="modal"><img style="width:100%" ng-click="saveTriviaAnswer('A')" src="images/A.png"></a>
                        </div>
                    </div>
                    <div class="opt">
                        <div style="padding:5px;">
                            <a data-toggle="modal"><img style="width:100%" ng-click="saveTriviaAnswer('B')"  src="images/B.png"></a>
                        </div>
                    </div>
                </div>
                <div class="opt-row">
                    <div class="opt">
                        <div style="padding:5px;">
                          <a data-toggle="modal"><img style="width:100%" ng-click="saveTriviaAnswer('C')"  src="images/C.png"></a>
                        </div>
                    </div>
                    <div class="opt">
                        <div style="padding:5px;">
                            <a data-toggle="modal"><img style="width:100%" ng-click="saveTriviaAnswer('D')"  src="images/D.png"></a>
                        </div>
                    </div>
                </div>
            </div>
                        
           <div style="font-size:20px; padding-top:20px; text-align:center;">
                <strong>Current Score: <span id="score">{{score}}</span></strong>
            </div>
        </div>

   </ion-content>
</ion-view>