<?xml version="1.0" encoding="UTF-8"?>
  <widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.ionicframework.sidemenu192637"
    versionCode="2"
    version   = "0.0.3">
    <name>Nicky 5</name>
    <description>
Developmental event management and attendee interaction application.    </description>
    <author href="" email="">

    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  

    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.2.0" />
    <gap:plugin name="nl.x-services.plugins.toast" version="2.0.2" />
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.1" />

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <icon src="icon.png" />
  <gap:splash src="splash.png" />

</widget>