<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.ionicframework.sidemenu192637" versionCode="2" version="0.0.3">
  <name>Nicky 5</name>
  <description>
Developmental event management and attendee interaction application.    </description>
  <author href="" email=""/>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="AutoHideSplashScreen" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="SplashScreen" value="splash"/>
  <preference name="SplashScreenDelay" value="5000"/>
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="FadeSplashScreenDuration" value="2.0"/>
  <icon src="icon.png"/>
  <gap:splash src="splash.png"/>
  <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.2.0"/>
  <gap:plugin name="nl.x-services.plugins.toast" version="2.0.2"/>
  <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.1"/>
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="SplashScreen">
    <param name="ios-package" value="CDVSplashScreen"/>
    <param name="onload" value="true"/>
  </feature>
  
    <icon src="icon/ios/icon.png" gap:platform="ios" width="57" height="57"/>
    <icon src="icon/ios/icon@2x.png" gap:platform="ios" width="114" height="114"/>
    <icon src="icon/ios/icon-40.png" gap:platform="ios" width="40" height="40"/>
    <icon src="icon/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80"/>
    <icon src="icon/ios/icon-50.png" gap:platform="ios" width="50" height="50"/>
    <icon src="icon/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100"/>
    <icon src="icon/ios/icon-60.png" gap:platform="ios" width="60" height="60"/>
    <icon src="icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120"/>
    <icon src="icon/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180"/>
    <icon src="icon/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
    <icon src="icon/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144"/>
    <icon src="icon/ios/icon-76.png" gap:platform="ios" width="76" height="76"/>
    <icon src="icon/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152"/>
    <icon src="icon/ios/icon-small.png" gap:platform="ios" width="29" height="29"/>
    <icon src="icon/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58"/>
    <icon src="icon/ios/icon-small@3x.png" gap:platform="ios" width="87" height="87"/>
    <gap:splash src="splash/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="640" height="1136"/>
    <gap:splash src="splash/ios/Default-667h.png" gap:platform="ios" width="750" height="1334"/>
    <gap:splash src="splash/ios/Default-736h.png" gap:platform="ios" width="1242" height="2208"/>
    <gap:splash src="splash/ios/Default-Landscape~ipad.png" gap:platform="ios" width="1024" height="768"/>
    <gap:splash src="splash/ios/Default-Portrait@2x~ipad.png" gap:platform="ios" width="1536" height="2048"/>
    <gap:splash src="splash/ios/Default-Portrait~ipad.png" gap:platform="ios" width="768" height="1024"/>
    <gap:splash src="splash/ios/Default@2x~iphone.png" gap:platform="ios" width="640" height="960"/>
    <gap:splash src="splash/ios/Default~iphone.png" gap:platform="ios" width="320" height="480"/>
 
    <icon src="icon/android/drawable-ldpi-icon.png"  gap:platform="android" density="ldpi"/>
    <icon src="icon/android/drawable-mdpi-icon.png" gap:platform="android" density="mdpi"/>
    <icon src="icon/android/drawable-hdpi-icon.png" gap:platform="android" density="hdpi"/>
    <icon src="icon/android/drawable-xhdpi-icon.png" gap:platform="android" density="xhdpi"/>
    <icon src="icon/android/drawable-xxhdpi-icon.png" gap:platform="android" density="xxhdpi"/>
    <icon src="icon/android/drawable-xxxhdpi-icon.png" gap:platform="android" density="xxxhdpi"/>
    <gap:splash src="splash/android/drawable-land-ldpi-screen.png" gap:platform="android" density="land-ldpi"/>
    <gap:splash src="splash/android/drawable-land-mdpi-screen.png" gap:platform="android" density="land-mdpi"/>
    <gap:splash src="splash/android/drawable-land-hdpi-screen.png" gap:platform="android" density="land-hdpi"/>
    <gap:splash src="splash/android/drawable-land-xhdpi-screen.png" gap:platform="android" density="land-xhdpi"/>
    <gap:splash src="splash/android/drawable-land-xxhdpi-screen.png" gap:platform="android" density="land-xxhdpi"/>
    <gap:splash src="splash/android/drawable-land-xxxhdpi-screen.png" gap:platform="android" density="land-xxxhdpi"/>
    <gap:splash src="splash/android/drawable-port-ldpi-screen.png" gap:platform="android" density="port-ldpi"/>
    <gap:splash src="splash/android/drawable-port-mdpi-screen.png" gap:platform="android" density="port-mdpi"/>
    <gap:splash src="splash/android/drawable-port-hdpi-screen.png" gap:platform="android" density="port-hdpi"/>
    <gap:splash src="splash/android/drawable-port-xhdpi-screen.png" gap:platform="android" density="port-xhdpi"/>
    <gap:splash src="splash/android/drawable-port-xxhdpi-screen.png" gap:platform="android" density="port-xxhdpi"/>
    <gap:splash src="splash/android/drawable-port-xxxhdpi-screen.png" gap:platform="android" density="port-xxxhdpi"/>
</widget>